<div id="LoginForm" class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <img src="/assets/logo.png">
        <br>
        <h2>Acceso Usuarios</h2>
      </div>
      <form id="Login">
        <div class="form-group">
          <input type="email" class="form-control text-center" id="inputEmail" placeholder="Insertar Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control text-center" id="inputPassword" placeholder="Insertar Clave">
        </div>
        <button (click)="login()" class="btn btn-primary" >ENTRAR <i class="fa fa-chevron-right"></i></button>
      </form>
    </div>
  </div>
</div>