

.main-table table{
    width: 100%;
}
.main-table table .thead, .main-table table .tbody{
    width: 100%;
}

.main-table .table .thead-dark th {
    color: #fff;
    background-color: #4080a0;
    border-color: #4080a0;
}

.main-table .btn.btn-primary{
    background: #d8ecf5  none repeat scroll 0 0;
    border-color: #d8ecf5;    
    color: rgba(83, 168, 199, 0.37);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 2rem;
    margin-right: 5px;
}

.main-table .btn.btn-primary:hover {
    background: #53a8c7 none repeat scroll 0 0;
    border-color: #53a8c7;
    color:white;
    font-weight: 600;
    font-size: 1.1rem;
}

.main-table button.btn.btn-primary.btn-add{
    width: 200px;
    border-radius: 5px;
    padding: 0px 15px;
    background: #f0ad4e none repeat scroll 0 0;
    border-color: #f0ad4e;
    color: #ffffff;
    font-size: 14px;
}

.main-table button.btn.btn-primary.btn-add:hover {
    background: #f15094 none repeat scroll 0 0;
    border-color: #f15094;
    font-weight: 600;
}

.main-table button.btn.btn-primary.btn-add:hover i{
    padding-left:5px;
}

.main-table .avatar-img{
    border-radius: 50%;
    width: 60px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.main-table .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(80, 160, 190, 0.03);
}