.form-control:not(textarea){
    height: 50px;
    line-height: 50px;
}
.form-control{
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
}