<div id="" class="container">
    <div class="main-table">
        <div class="row">
            <div class="col-md-8">                
                <h3> {{titulo}} <b *ngIf="tarea.iid">:{{tarea.iid}}</b></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="tituloIssue">Título</label>
                    <input type="text" class="form-control" id="tituloIssue" placeholder="Título Incidencia"
                        [(ngModel)]="tarea.title" required>
                    <small id="tituloHelp" class="form-text text-muted">* Campo Obligatorio</small>
                </div>
                <div class="form-group">
                    <label for="descriptionIssue">Descripción</label>
                    <textarea class="form-control" id="descriptionIssue" rows="5"  [(ngModel)]="tarea.description" required></textarea>
                    <small id="descriptionHelp" class="form-text text-muted">* Campo Obligatorio</small>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary btn-add" (click)="guardar()"><i class="fa fa-check"></i> Guardar</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary float-right btn-add " [routerLink]="['/home']">Volver
                    <i class="fa fa-chevron-right"></i></button>
            </div>

        </div>
    </div>

</div>